# default ignore
.lightly
.c_bin
.classes
logs
*.log
node_modules
dist
dist-ssr
*.local
1.txt
__pycache__/chat.cpython-312.pyc
/all-guides-for-ai.pdf
/.idea/jsonSchemas.xml
__pycache__/config.cpython-312.pyc
.gitignore
find.json
config.ini
.env
edgedriver_win64
wenku8_cookie.txt
saved_message
cache
admin.txt
data
switches.json
__pycache__
config.copy.ini
todo
uploads
test_agent
static
tests